*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero{
    text-align: center;
    padding: 0px;
    background-color: #1a3056;
    color: white;
    background-image: 
    url(masthead-map-bg\ \(1\).jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color: black;
    font-size: 50px;
}
.h1{
    display: flex;
    text-size-adjust: 50px;
    text-align: center;
    padding-right: 25%;
}

header{
    background-color: #0f1c3f;
    padding: 50px;
    font-size: larger;
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1{
   color: white;
   font-size: 25px;
}

.navbar .nav-links ul{
    list-style-type: none;
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 15px;
}

.navbar .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.auth-buttons button{
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border=redius: 5px;
}

.register-btn {
    background-color: #ff5a5f;
    color: white;
}

.login-btn{
    background-color: white;
    color: #0f1c3f;
}



.hero h2{
    font-size: 32px;
    margin-bottom: 15px;
    tex
}

.hero p{
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-buttons button{
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
}

.search-bar{
    text-align: center;
    padding: 50px;
    background-color: whitesmoke;
}

.search-barh3{
    font-size: 28px;
    margin-bottom: 20px;
}

.search-options ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
}
.search-options ul li {
    margin: 0 15px;
}

.search-options ul li a{
    text-decoration: none;
    font-size: 16 px;
    color: skyblue;
}

.search-field{
    display: flex;
    justify-content: center;
}

.search-field input{
    width: 400px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid whitesmoke;
}

.search-field button{
    padding: 10px 15px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
}

footer{
    padding: 15px;
    background-color: ;
}