*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.done{
    width: 100%;
    height: 100vh;
    background-image: url(masthead-map-bg\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}

.done1{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    color: white;
    padding-left: 18%;
}

.done1 ul li{
    list-style: none;
    display: inline-block;
    margin:   40px;
    color: white;
   
}


.done1 ul li a{
    text-decoration: none;
    color: white;
}
.done2{
   width: 25% 50%;
    position: absolute;
    margin-left: 20%;
    margin-right: 50%;
     
    top: 50%;
    
   font-size: 24px;
    text-align: center;
    color: white;
}

.auth{
    padding: 5px;
    margin-top: 10px;
    background-color: red;
    cursor: pointer;
    color: white;
    border-radius: 25px;
}
.auth1{
    padding: 5px;
    margin-top: 10px;
    background-color: blue;
    cursor: pointer;
    color: white;
    border-radius: 25px;
}
.done3{
    background-color: rgb(45, 26, 133);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 420px;
}



.tab{
    cursor: pointer;
    padding: 5px;
    color: white;
}
.done3{
    width: 60% 80%;
    height: 400;
    position: absolute;
    margin-left: 50%;
    margin-right: 30%;
    color: white;
     
    top: 50%;
    
   
    text-align: center;
}
   
.tabs{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 10px;

}

.search bar{
    margin-bottom: 50px;
    box-sizing: 50px;
    margin-top: 10px;
    margin-left: 10px;

}

button{
    padding: 10px 20px;
    background-color: #00aaff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

input [type="text"]{
    padding: 30px;
    background-color: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.structured-search{
    margin-top: 10px;    
}

.structured-search{
    color: #00aaff;
}

.done4{
    margin-top: 10px;
}

h4{
    padding-left: 40%;
    font-size: 24px;
}

p1{
    padding-left: 20%;
    font-size: 15px;
    
}

h5{
    padding-left: 15%;
    font-size: 24px;
    padding-top: 10px;
}
p2{
    padding-left: 5px;
    font-size: 15px;
    margin-right: 50%;
    padding-right: 50%;
    
}
